<div class="container">
  <div class="text-center">
    <h1>Résutat</h1>
    <p>Le score obtenu avec le mot <strong>"<%= @attempt %>"</strong> est :</p>
    <p>time : <%= @result[:time]%>, your score : <%= @result[:score] %></p>
  </div>

<div class="text-center"><%= link_to 'Encore un essai ?', root_path %></div>
</div>




